/* style.css */

html {
    font-size: 18px;
}

body {
    background-color: #0D6CBC;
    color: #001F28;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 0;
}

main {
    background-color: #E9F5FF;
    min-height: calc(100vh - 80px);
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 40px;
    width: 60vw;
}

h1 {
    color: #0D6CBC;
    font-family: 'Rubik Moonrocks', sans-serif;
    font-size: 3rem;
    margin: 0;
}

p {
    margin: 0;
}

hr {
  border-top: 1px solid #0D6CBC;
}

figure {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0;
}

input {    
    border: 1px solid #0D6CBC;
    border-radius: 0.25rem;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
    background-color: #0D6CBC;
    border: 1px solid #0A5694;
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin-top: 2px;
    transition: all 100ms ease-in-out;
}

button:hover {
    background-color: #0F86E6;
    border-bottom-width: 3px;
    margin-top: 0;
}

button:active {
    background-color: #0A5694;
    border-color: #074272;
    border-bottom-width: 0;
    border-top-width: 3px;
    margin-top: 1px;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.fs-5 {
    font-size: 1.25rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.self-stretch {
    align-self: stretch;
}

.w-full {
    width: 100%;
}

.rounded {
    border-radius: 1rem;
}

@media only screen and (max-width: 600px) {
  main {
    padding: 20px;
    width: calc(100vw - 40px);
  }
}